<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trabajo Práctico 1</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>TRABAJO PRÁCTICO N°1</h1>
        <h2>Paso #1 - Creación repositorio</h2>
        <hr>
        <h2>{{ segundopaso }}</h2>
            <p>Nombre: {{ nombre }}</p>
            <p>Edad: {{ edad }}</p>
            <p>Ciudad: {{ ciudad }}</p>
            <p>Hola, mi nombre es {{ nombre }}, tengo {{ edad }} años y vivo en {{ ciudad }}.</p>
        <hr>
        <h2>{{ tercerpaso }}</h2>
            <p>Contador: {{ contador }}</p>
            <button v-on:click="contador++">Incrementar</button>
            <button @click="contador--">Decrementar</button>
        <hr>
        <h2>{{cuartopaso}}</h2>
        <ul>
            <li v-for="tarea in tareas" :key="tarea.id"><input type="checkbox" v-model="tarea.completada"> {{tarea.texto}}</li>
        </ul>
        <input v-model="nuevaTarea" placeholder="Introducir nueva tarea">
        <button @click="agregarTarea">Añadir tarea</button>
        <p>Tareas pendientes: {{tareaspendientes</p>



    </div>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    segundopaso: 'Paso #2 - Información de Perfil Simple (Interpolación)',
                    nombre: 'Ana García',
                    edad: 30,
                    ciudad: 'Tupungato',
                    tercerpaso: 'Paso #3 - Contador Interactivo (Interpolación y Eventos)',
                    contador: 0,
                    cuartopaso: 'Paso #4 - Lista de Tareas con Conteo y Estado Propiedades Computadas, Interpolación, Eventos)',
                    nuevaTarea: '',
                    tareas: [{
                        id: 1,
                        texto: "Aprender Vue",
                        completada: false
                    }
                    ]   
               }
            }, methods: {
                agregarTarea() {
                    if (this.nuevaTarea != "") { //asi como está admite espacios y permito agregar tareas vacias si uso this.nuevaTarea.trim() ahi limito eso
                        this.tareas.push({
                            id: this.tareas.length +1,
                            texto: this.nuevaTarea,
                            completada: false
                        })
                        }
                    this.nuevaTarea = '';    
                    }    
                }, computed: {
                    tareasPendientes() {
                        return this.tareas.filter (tarea => !tarea.completada).length;
                    }
                }
            },
        ).mount('#app');
    </script>
</body>
</html>